* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: antiquewhite;
}

header {
    background-color: rgb(245, 219, 147);
    font-size: 30px;
    border-bottom: solid 2px black;
    padding: 20px;
    text-align: center;
}

.chamada {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.chamada-texto {
    margin-right: 10%;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.boasvindas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 40px;
    font-weight: 700;
}